.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 410px;
  height: 400px;
  background-color: black;
  border-radius: 5px;
  padding: 10px 5px;
}

.title {
  color: aliceblue;
}

#screen {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: rgb(32, 34, 61);
  width: 388px;
  height: 95px;
  border-radius: 5px;
  text-align: right;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-top: 18px;
  font-size: 2.8em;
  color: white;
  overflow: hidden;
}

button {
  background-color: rgb(55, 55, 55);
  color: aliceblue;
  font-size: 35px;
  border: transparent 1px aliceblue;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  border: solid 0.01px;
}

#num-pad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1.5px;
  grid-auto-flow: row;
  grid-template-areas:
    "seven eight nine clear clear"
    "four five six multiply divide"
    "one two three add subtract"
    "zero zero decimal equals equals";
  width: 400px;
  height: 300px;
}

#zero {
  grid-area: zero;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#add {
  grid-area: add;
}

#subtract {
  grid-area: subtract;
}

#multiply {
  grid-area: multiply;
}

#divide {
  grid-area: divide;
}

#clear {
  grid-area: clear;
  background-color: tomato;
}

#decimal {
  grid-area: decimal;
}

#equals {
  grid-area: equals;
  background-color: green;
}
